@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/jkg4ogc.css");

@layer base {
  @font-face {
    font-family: museo-sans;
    src: url(https://use.typekit.net/jkg4ogc.css);
  }
}

/* :root {
  --foreground: neutral-950;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-hsl: 205deg 100% 7%;
  --background-start-hsl: 52 94% 94%;
  --background-end-hsl: 35 100% 91%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --foreground-hsl: 0deg 100% 100%;
    --background-start-hsl: 205deg 100% 7%;
    --background-end-hsl: 205deg 100% 7%;
  }
} */
